<button id='show-more-countries'>Next 20</button>
<button id='populate-all-button'>Show All</button>
<button id='reset_button'>Clear</button>



<% @countries.each do |country| %>
        <p><%= country.name %>, <%= country.abbreviation %></p>
<% end %>