<h1>Countries of the World</h1>

<div id='buttons'>
	<div id='load-all' class='btn button-default'>Load All</div>
	<div id='clear' class='btn button-default'>Clear</div>
	<div id='load-20' class='btn button-default'>Load 20</div>
</div>

<div id='all-countries'>

</div>