<h1>index</h1>
<div data-total-countries="<%= @countries.length %>" class="countries-container"></div>

 <%#= link_to 'Load More Posts', :page => @countries.next_page, :class => 'load-more-countries', :remote => true if @countries.next_page %>