<% @countries.each do |country| %>
  <div class='f32'>
    <span><%= country.name %></span>
    <span class="flag <%=country.abbreviation %>"></span>
    <span><%= country.abbreviation %></span>
  </div>
<% end %>