<h2>Flags of the World</h2>

<button id="show-all-button">Show All Flags</button>
<button id="reset-button">Clear All Flags</button>
<button id="show-twenty-button">20 More Flags</button>


<% @countries.each do |country| %>
 <%= render country %>
<% end %>

