<h1>index</h1>
<% @countries.each do |country| %>
<div class="f32">
  <%= country.name %>
  <%if country.abbreviation %>
  <span class="flag <%=country.abbreviation %>"></span>
  <%else %>
  <% end %>
</div>
<% end %>