<h3>All Countries</h3>

<button id="populate-all-button">Populate All Countries</button>
<button id="reset-button">Reset All Countries</button>
<button id="show-more-countries-button">Show More Countries</button>

<div id="all-countries" class="f32">

</div>
