<button id="show-all-btn">show all</button>
<button id="reset-btn">tabula rasa</button>
<button id="show-twenty-more-btn">show 20 more</button>

<%# @countries.each do |country| %>
<!--div id="flags"--><%= render @countries %><!--/div-->
<%# end %>