<h1>Flags of the world!</h1>
	
<div id="nav-bar">
	<button id="populate-all-button">SHOW ME THE COUNTRIES!</button>
	<button id="reset-button">OOPS I MESSED UP! START OVER PLZ</button>
	<button id="show-more-countries-button">MORE PLZ</button>
</div>

<div id="flags">
  <%= render @countries %>
</div>

<%#= link_to "Load more countries", countries_path(:page => @countries.next_page), :class => 'load-more-countries', :remote => true if @countries.next_page %>

