<h1>index</h1>
<% @countries.each do |country| %>
<div class="f32">
  <%= country.name %>
  <%if country.abbreviation %>
  <span class="flag <%=country.abbreviation %>"></span>
  <%else %>
  <% end %>
  <%= render "country" %>
</div>
<% end %>

 <%#= link_to 'Load More Posts', :page => @countries.next_page, :class => 'load-more-countries', :remote => true if @countries.next_page %>