<h2>Flags of the World</h2>

<ul class='f32'>

<% @countries.each do |country| %>
  <table="height=400px">
  <tr class='flag'>
    <td>Name: <%=country.name %></td>
    <td>Abbreviation: <%=country.abbreviation %></td>
    <td>North America: <%=country.north_america%></td><br>
  </tr>
  </table>
<% end %>

</ul>
<br>
