<button id="show-all-btn">show all</button>
<button id="reset-btn">tabula rasa</button>
<button id="show-twenty-more-btn">show 20 more</button>
<form id="find-flag">
  Country: <input id="country-name-field" type="text" name="country" placeholder='country name'>
  <input id="find-flag-btn" type="submit" value="find flag">
</form>

<%# @countries.each do |country| %>
<!--div id="flags"--><%= render @countries %><!--/div-->
<%# end %>