<h1> Flags of the World </h1>

<!-- You should also have buttons to load all of the countries on the page, clear all the countries, and manually load the next 20 countries. Each country should display its name, abbreviation, and flag. If a country has the north_america boolean set, it should be visually offset somehow using CSS. -->



	<button id="populate-all-button"> Populate </button>
	<button id="reset-button"> Reset </button>
	<button id="show-more-countries-button"> Show More Countries </button>

<div id='countries' class="f32">
</div>


