<h1>Flags of the world!</h1>
	
<div id="nav-bar">
	<button id="populate-all-button">SHOW ME THE COUNTRIES!</button>
	<button id="reset-button">OOPS I MESSED UP! START OVER PLZ</button>
	<button id="show-more-countries-button">MORE PLZ</button>
</div>

<div id="flags">
  <%= render partial: "home/country", collection: @countries %>
</div>
