<header>
	<div class='container'>
		<h1>Countries of the World</h1>
		<div id='buttons'>
			<button id='populate-all-button' class='btn btn-info'>Load All</button>
			<button id='show-more-countries-button' class='btn btn-info'>Load 20</button>
			<button id='clear-button' class='btn btn-warning'>Clear <span class="glyphicon glyphicon-remove"></span></button>
	</div>
</header>

<div class='container'>
	<div>
		<ul id='all-countries' class='f32'>
		</ul>
	</div>
</div>