<button id='populate-all-button'>All Countries</button>
<button id='reset-button'>Reset Countries</button>
<button id='show-more-countries-button'>Show More Countries</button>

<div id='country-list'>

</div>
