<h3>Flags of the world.</h3>
<p>When I was small our shower curtain had a map of the world with flags of the
various countries.<br>I used to spend hours looking at it.<br>We only had one bathroom.</p>
<button id="populate-all-button" class="btn btn-info">Show All Countries</button>
<button id="reset-button" class="btn btn-danger">Reset All Countries</button>
<button id="show-more-countries-button" class="btn btn-success">Show More Countries</button>

<ul id="all-countries" class="f32">
</ul>
