<button id="show-all-btn">show all</button>
<button id="reset-btn">tabula rasa</button>
<button id="show-twenty-btn">show 20 more</button>

<div class="paginator"><%= will_paginate @countries %></div>

<% @countries.each do |country| %>
  <%= render country %>
<% end %>

<div class="paginator"><%= will_paginate @countries %></div>