<h1> Countries (Full List) </h1>


<table border="0.5px">
	<% @countries.each do |country| %>
	<div id="one">
		<tr class="f32">
			<td class="flag <%=country.abbreviation%>"> </td>
			<td><%=	country.name %></td>
			<td><%= country.abbreviation %></td>
			<td>
				<% if country.north_america == true %>
				<%= "***" %>
				<% end %>
			</td>
		</tr>
	</div>
	<% end %>
</table>

