<h1>Countries</h1>

<button id='populate-all-button' type='button'>Show Countries</button>
<button id='reset-button' type='button'>Hide Countries</button>



<ul id='country'>
	<% @countries.each do |country| %>
		<li id='country_<%=country.id%>'> Name: <%=country.name %> Abbreviation: <%=country.abbreviation%>
		</li>
<% end %>

.f32