/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
 	background: url('http://i.imgur.com/uqp4RX6.jpg') no-repeat center center fixed;
 	-wekbit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 }

.container {
	width: 50%;
	margin: 0 auto;
}

.boxy {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	margin-bottom: 20px;
}

#country-list {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
}

.country {
	display: inline-block;
}

.country_text {
	line-height: 35px;
	margin-top: 10px;
	vertical-align: middle;
	margin-left: 20px;
	display: inline-block;
	padding-top: 14px;
}

.north_america {
	background-color: whitesmoke;
}

.f32 {
	padding: 10px;
	margin-top: 10px;
	&:first-child {
		border-top: 1px solid #ccc;
	}
	border-bottom: 1px solid #ccc;
}

.btn {
	padding: 10px 15px;
	background-color: tomato;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
}
