<!DOCTYPE html>
<html>
<head>
  <title>AjaxFlags</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Flags Infinite Scroll</h1>
  <nav>
    <a href="#" id="populate-all-button"> Populate All Countries</a>
    <a href="#" id="reset-button">Reset Page</a>
    <a href="#" id="show-more-countries-button">Show More Countries</a>
  </nav>
</header>
<%= yield %>

</body>
</html>
